*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}


html{
    font-size: 16px;
}

.wrapper {
    width: 89.10%;
}

/* Navigation menu */
.header .wrapper{
    width: 100%;
}
.navigation-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21,35,57);
    color: white;
    padding:1rem 2%;
}

.navigation-menu .logo{
    cursor: pointer;
}

.navigation-menu .navmenu{
    list-style: none;
    cursor: pointer;
}


.navigation-menu .navmenu a{
    text-decoration: none;
    color: white;
    padding-top: 1.5rem;
}

/* Banner */
.banner .wrapper{
    width: 100%;
}
.banner {
    height: 38rem;
    padding: 12rem 25%;
    background: url("https://via.placeholder.com/1291x620/3F3D8B/3F3D8B?text=banner");
    background-repeat: no-repeat;
    
}

.banner .banner-content h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    word-spacing: .5rem;
}

.banner .banner-content p{
    color: white;
    line-height: 1.8rem;
    font-weight: 100;
    text-align: center;
}

.banner .banner-content .fbtn{
    cursor: pointer;
    border: 1px solid #8595A1;
    background-color: transparent;
    height: 2.5rem;
    width: 8rem;
    color: white;
    margin: 2rem 0 0 40%;
    border-radius:3px;
    font-size: 1rem;
    font-weight: 700;
    
}

.banner-content .fbtn:hover{
     background-color: black;
     color: white;
}


/* Section 1 */

.sectionfirst {
    background-color: #223540;
    color: white;
    
}

.sectionfirst .sectionone h3 {
    padding: 5rem 0 2rem 45%;
    word-spacing: .2rem;
    font-weight: 700;
    font-size: 1.6rem;
    
}


.sectionfirst .sectionone p {
    color: rgba(255 255 255 / 0.5);
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0 0 4rem 25%;
    
}

.sectionfirst .sectionone .twobox{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    gap: 3rem;
}

.sectionfirst .sectionone .twobox .first-videoone .videoone{
    height: 18rem;
    width: 32rem;

}

.sectionfirst .sectionone .twobox .first-videoone{
    background-color: #31424B;
    padding-bottom: 1.5rem;
    margin-bottom: 5rem;
}

.sectionfirst .twobox .first-videoone>figcaption{
    text-align: center;
    padding-top: 1rem;
}


/* Section 2*/
.sectionsecond{
    background-color: #101F28;
    color: white;
} 

.sectionsecond .sectiontwo>h3{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 8%;
    padding-top: 5rem;  
}

.sectionsecond .sectiontwo>p{
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 8%;
    padding-top: 1.8rem;
    color: rgba(255 255 255 / 0.5);
}


.sectionsecond .links-videos {
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-top: 3rem;
}


.links-videos ul>.videolink{
    list-style: none;
    margin-top: 3rem;
    width: 15rem;
}


.links-videos li>a{
    text-decoration: none;
    color: white;
    background-color: grey;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    height: 2rem;
}

.links-videos .videocontent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    
}

.links-videos .videocontent>video{
    width: 16.7rem;
    height: 10rem;
    border-radius: .3rem;
}