*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}
html{
    font-size: 16px;
}

.navigation-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21,35,57);
    color: white;
    padding:1rem 2%;
}

.navigation-menu .logo{
    cursor: pointer;
}

.navigation-menu .navmenu{
    list-style: none;
    cursor: pointer;
}


.navigation-menu .navmenu a{
    text-decoration: none;
    color: white;
    padding-top: 1.5rem;
}


.banner {
    height: 38rem;
    text-align: center;
    padding: 12rem 25%;
    background-color: #504E8C;
 
}

.banner .banner-content h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: white;
    word-spacing: .5rem;
}

.banner .banner-content p{
    color: white;
    line-height: 1.8rem;
    font-weight: 100;
}

.banner .banner-content .fbtn{
    cursor: pointer;
    border: 1px solid #8595A1;
    background-color: transparent;
    height: 2.5rem;
    width: 8rem;
    color: white;
    margin-top: 2rem;
    border-radius:3px;
    font-size: 1rem;
    font-weight: 700;
}